
<h2>All Trees</h2>

<% @tree.each do |tree| %>

  <div class="tree-box">

    <h4>
      <a href="/trees/<%= tree.id %>">
        <%= tree.name %>
      </a>
    </h4>

    <div class="tree-image">

      <a href="/trees/<%= tree.id%>">
         <img class='tree-photo' src="<%= tree.image_url %>"/>
      </a>

      <div class="tree-image-icon">

        <a href="/profile/<%= tree.user.id%>">
          <img class='index-icon' src="<%= tree.user.photo %>" alt="" />
        </a>

      </div>

    </div>

  </div>

<% end %>
