
<h3>Edit Tree</h3>

<form action="/trees/update/<%= @tree.id %>" method="post">

  <label>Tree Name</label>
  <input type="text" name="name" value="<%= @tree.name %>">

  <label>Image url</label>
  <textarea name="image_url" rows="8" cols="40"><%= @tree.image_url %>
  </textarea>

  <label>Description</label>
  <textarea name="description" rows="8" cols="40">
    <%= @tree.description %>
  </textarea>

  <label>Location</label>
  <select>
    <% @location.each do |location| %>
      <option value="<% location.postcode %>">
        <%= location.suburb %>
      </option>
    <% end %>
  </select>

  <button>Edit entry</button>

</form>

<form action="/trees/<%= @tree.id %>/delete" method="post">
  <button>delete</button>
</form>
