
<h2><%= @user.username %></h2>
<img src="<%= @user.photo%>" alt="" />


<% @user.trees.each do |tree| %>

<div class="tree-box">
  <p>
    <a href="/trees/<%= tree.id %>">
      <%= tree.name %>
    </a>
  </p>

  <a href="/trees/<%= tree.id%>">
     <img src="<%= tree.image_url %>"/>
  </a>

  <p>
    <a href="#">
      tree.location
    </a>
  </p>

<% end %>

</div>
<% if logged_in? %>
  <form action="/trees/add">
    <button>add</button>
  </form>
<% end %>
