
<h2><%= @tree.name %></h2>
<a href="/profile/<%= @tree.user.id %>">
  <img class="photo-icon" src="<%= @tree.user.photo %>" alt="" />
</a>
<img class="show-tree-photo" src="<%= @tree.image_url %>"/>
<p>
  <%= @tree.description %>
</p>


<% if logged_in? %>

  <% if current_user.id.to_s == @tree.user_id.to_s %>

    <form action="/trees/edit/<%= @tree.id %>" method="get">
      <button>edit</button>
    </form>

    <form action="/trees/<%= @tree.id %>/delete" method="post">
      <button>delete</button>
    </form>

  <% end %>

  <form action="/comments" method="post">
    <input type="hidden" name="tree_id"
    value="<%= @tree.id %>">
    <textarea name="body" rows="8" cols="40">
    </textarea>
    <button>post comment</button>
  </form>
  <% else %>
    <p>
      log in to post comments
    </p>

<% end %>

<div class="comments">

  <h3>Comments:</h3>
  <% @comments.each do |comment| %>
    <div class="comment">
      <a href="/profile/<%= comment.user.id %>">
        <img class='photo-icon' src="<%= comment.user.photo %>" alt="" />
      </a>
      <p><%= comment.user.username %></p>
      <p><%= comment.body %></p>
    </div>
  <% end %>

</div>

<div id="map"></div>
    <script>
      var treeLat =  -0.3782E2
      var treeLng = '<%=  %>'
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIamQbXXBDpNswS7aBs3MhPx-MApcojfA&callback=initMap">
    </script>
